<div>
  <div *ngIf="timers.length != 0" class="col-md-12">
    <div *ngFor="let timer of timers" style="margin:10px">
      <div class="btn-group" role="group" aria-label="...">
        <button *ngIf="timer.installed"  id="timer{{timer.id}}" type="button" class="btn btn-primary"><span class="badge">{{timer.id}}</span></button>
        <button *ngIf="!timer.installed" id="timer{{timer.id}}" type="button" class="btn btn-danger" ><span class="badge">{{timer.id}}</span></button>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon glyphicon-play"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a (click)="executeAction(timer.id, 'query',    0)">?</a></li>
            <li><a (click)="executeAction(timer.id, 'query',    0)"> </a></li>
            <li><a (click)="executeAction(timer.id, 'start',  300)">+5m</a></li>
            <li><a (click)="executeAction(timer.id, 'start',  600)">+10m</a></li>
            <li><a (click)="executeAction(timer.id, 'start',  900)">+15m</a></li>
            <li><a (click)="executeAction(timer.id, 'start', 1200)">+20m</a></li>
            <li><a (click)="executeAction(timer.id, 'start', 1500)">+25m</a></li>
            <li><a (click)="executeAction(timer.id, 'start', 1800)">+30m</a></li>
            <li><a (click)="executeAction(timer.id, 'start',   60)">+1m</a></li>
            <li><a (click)="executeAction(timer.id, 'start',  120)">+2m</a></li>
            <li><a (click)="executeAction(timer.id, 'start',  180)">+3m</a></li>
            <li><a (click)="executeAction(timer.id, 'start',  240)">+4m</a></li>
            <li><a (click)="executeAction(timer.id, 'start',   30)">+30s</a></li>
            <li><a (click)="executeAction(timer.id, 'start',  -30)">-30s</a></li>
          </ul>
        </div>
        <button (click)="executeAction(timer.id, 'pause',  0)" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-pause"></span>
        </button>
        <button (click)="executeAction(timer.id, 'resume',  0)" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button (click)="executeAction(timer.id, 'stop',  0)" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-stop"></span>
        </button>
        <button *ngIf="timer.seconds != undefined" type="button" class="btn btn-default">
          <span id="seconds">{{timer.seconds}}</span>
        </button>
      </div>
    </div>
  </div>

</div>
