<div>
  <div>
  <h2>Bonos</h2>
  </div>
  <form [formGroup]="formModel" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="telephone" class="col-sm-2 col-md-2 control-label">Código del Bono</label>
      <div class="col-sm-10 col-md-2">
        <input autocomplete="off" type="text" class="form-control" id="ticketId" placeholder="Bono" formControlName="ticketId" (blur)="searchBonus()" (keyup.enter)="searchBonus()">
      </div>
      <div class="col-sm-12 col-md-8" style="padding-top:1px">
        <div *ngIf="showOptions" class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Otras Opciones <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a (click)="sendAction( 5, 0)">Regalar 5'</a></li>
            <li><a (click)="sendAction(10, 0)">Regalar 10'</a></li>
            <li><a (click)="sendAction(20, 0)">Regalar 20'</a></li>
            <li><a (click)="sendAction(30, 0)">Regalar 30'</a></li>
            <li><a (click)="sendAction(40, 0)">Regalar 40'</a></li>
            <li><a (click)="sendAction(50, 0)">Regalar 50'</a></li>
            <li><a (click)="sendAction(60, 0)">Regalar 60'</a></li>
            <li><a *ngIf="balance > 0" (click)="sendAction(-30, -9.5)">Anular bono de 30' (€9,5)</a></li>
            <li><a *ngIf="balance > 0" (click)="sendAction(-60, -18)">Anular bono de 60' (€18)</a></li>
            <li><a *ngIf="statements.length != 0" (click)="duplicateBonus(30, 9.5)">Duplicar bono de 30' (€9.5)</a></li>
            <li><a *ngIf="statements.length != 0" (click)="duplicateBonus(60, 18)">Duplicar bono de 60' (€18)</a></li>
          </ul>
        </div>
        <button type="button" (click)="clearFields()" class="btn btn-default">Limpiar</button>
      </div>
    </div>
    <div *ngIf="showOptions" class="col-sm-12 col-md-offset-2 col-md-10" style="padding-left:5px">
      <button *ngIf="balance >=  5" type="button" (click)="sendAction( -5, 0)" class="btn btn-primary">5'</button>
      <button *ngIf="balance >= 10" type="button" (click)="sendAction(-10, 0)" class="btn btn-primary">10'</button>
      <button *ngIf="balance >= 20" type="button" (click)="sendAction(-20, 0)" class="btn btn-primary">20'</button>
      <button *ngIf="balance >= 30" type="button" (click)="sendAction(-30, 0)" class="btn btn-primary">30'</button>
      <button *ngIf="balance >= 40" type="button" (click)="sendAction(-40, 0)" class="btn btn-primary">40'</button>
      <button *ngIf="balance >= 50" type="button" (click)="sendAction(-50, 0)" class="btn btn-primary">50'</button>
      <button *ngIf="balance >= 60" type="button" (click)="sendAction(-60, 0)" class="btn btn-primary">60'</button>
    </div>
    <span *ngIf="showOptions && balance != 0" class="col-sm-12" style="height:20px"></span>
    <div *ngIf="showBalance" class="col-sm-12 col-md-offset-2 col-md-10 alert alert-info">Saldo en minutos: <strong>{{balance}}</strong></div>
    <div *ngIf="showNoExist" class="col-sm-12 col-md-offset-2 col-md-10 alert alert-danger">Este bono no existe. Creando uno nuevo</div>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Nombre</label>
      <div class="col-sm-8">
        <div class="input-group">
          <span (click)="searchByName()" class="input-group-addon" style="cursor:pointer">?</span>
          <input autocomplete="off" type="text" class="form-control" id="name" placeholder="Nombre y appellidos" formControlName="name" (keyup.enter)="searchByName()">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="ticketId" class="col-md-2 control-label">Teléfono</label>
      <div class="col-md-3">
        <div class="input-group">
          <span (click)="searchByTelephone()" class="input-group-addon" style="cursor:pointer">?</span>
          <input autocomplete="off" type="text" class="form-control" id="telephone" placeholder="Teléfono" formControlName="telephone" (keyup.enter)="searchByTelephone()">
        </div>
      </div>
    </div>
    <div *ngIf="showOptions" class="col-sm-12 col-md-offset-2 col-md-10" style="padding-left:5px">
      <button *ngIf="statements.length == 0" type="button" (click)="sendAction(30, 9.5)" class="btn btn-primary" style="margin-top:5px">Bono 30' (€9,5)</button>
      <button *ngIf="statements.length == 0" type="button" (click)="sendAction(60, 18)" class="btn btn-primary" style="margin-top:5px">Bono 60' (€18)</button>
      <button type="button" (click)="sendAction(0, 0)" class="btn btn-primary" style="margin-top:5px">
        <span *ngIf="showOk" class="glyphicon glyphicon-ok"></span>
        Actualizar Datos
      </button>
    </div>
  </form>
  <div *ngIf="statements.length != 0" class="col-md-offset-2 col-md-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th style="text-align:right">Minutos</th>
          <th style="text-align:right">Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let statement of statements">
          <td>{{statement.date | date:'d MMMM y'}}</td>
          <td align="right">{{statement.minutes}}</td>
          <td align="right">{{statement.cash | currency:'EUR':true:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>
    <hr *ngIf="searchData.length != 0" style="min-width:85%; background-color:#a1a1a1 !important; height:1px;">
  </div>
  <div *ngIf="searchData.length != 0" class="col-md-offset-2 col-md-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Telefono</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="searchByTicketId(search.ticketId)" style="cursor:pointer" *ngFor="let search of searchData">
          <td>{{search.ticketId}}</td>
          <td>{{search.name}}</td>
          <td>{{search.telephone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
